body{
    background-color:#1D1D1D;
    margin: 0 auto;
}

.Logo{
    margin-top:35px;
    height: 70px;
}

.page-title{
    display:block;
    color:white;
    margin-top: 60px;
    margin-bottom: 0%;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
}

.page-subtitle{
    color:white;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
}   

.Imersao{
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    display: flex;
    padding-top: 15px;
}

.controle{
    width: 750px;
    border-radius:80px;
    margin-left:5vh;
}


.container{
    height: 50vh;
    padding:0px;
    text-align: center;
}
